.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding: 2rem;
    background-color: var(--primary-color1);
    color: var(--secondary-color3);
    margin-bottom: 6rem;
    border-radius: 0rem 0rem 2rem 2rem;
}

.hero .section-title {
    margin: 0;
    color: var(--primary-color2);
}

.hero .section-categories {
    margin: 0;
}

.hero img {
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 2rem;
    position: absolute;
    right: 2rem;
    top:2rem;
}

.hero .description {
    flex: 1;
    padding-right: 2rem;
    max-width: 25rem;
    padding-bottom: 3rem;
}

.hero button {
    position: absolute;
    bottom: 2rem;
}

.higlights,
.testimonials {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    margin-top: 2rem;
}

.higlights>h1,
.testimonials>h1 {
    margin: 0;
}

.higlights .cards,
.testimonials .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.higlights img {
    width: 20rem;
    border-radius: 0.9rem 0.9rem 0rem 0rem;
}

.higlights .card {
    width: 20rem;
    margin: 0.9rem;
    border: 2px solid var(--primary-color1);
    background-color: var(--secondary-color3);
    border-radius: 1rem;
    transition: all 0.5s ease;
    scale: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.higlights .card:hover,
.testimonials .card:hover {
    transition: all 0.5s ease;
}

.higlights .card .description {
    padding: 0rem 1rem 3rem 1rem;
    margin-top: -1rem;
    text-align: justify;
    position: relative;
}

.card .description .price {
    color: var(--secondary-color1);
    position: absolute;
    top: 0.5rem;
    right: 0rem;
    margin: 0rem 1rem 0rem 0rem;
}

.card>a {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: black;
}

.card > a > img {
    width: 2rem;
    margin: 0px 0px -9px 5px;
}

.higlights button {
    position: absolute;
    top: 0rem;
    right: 0rem;
    margin: 2rem;
}

.testimonials {
    align-items: center;
}

.testimonials .card {
    margin: 1rem;
    border: 2px solid var(--primary-color1);
    background-color: var(--secondary-color3);
    border-radius: 1rem;
    transition: all 0.5s ease;
    scale: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 18rem;
    height: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testimonials img {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
}

.testimonials .rating {
    color: var(--secondary-color1);
}

.testimonials .user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.testimonials .review {
    text-align: center;
    font-style: italic;
}

.testimonials .user>* {
    padding: 0.5rem;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}

.higlights,
.testimonials,
.about {
    background-color: var(--secondary-color2);
    border-radius: 2rem;
}

.about img {
    width: 28rem;
    height: 28rem;
    margin: 2rem;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about .description {
    width: 25rem;
    padding: 2rem;
}

.about .description>p {
    text-align: justify;
}