footer {
    margin-top: 2rem;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--secondary-color3);
}

.footer-logo {
    padding: 2rem;
}

.footer-links {
    padding: 2rem;
}

.footer-logo img {
    width: 10rem;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
}

.footer-links a:hover {
    color: var(--primary-color1);
    transition: all 0.3s ease;
}

.footer-links>section {
    margin: 2rem;
}

.footer-links ul {
    list-style-type: none;
}

.copyright {
    width: 100%;
    margin: 1rem;
    text-align: center;
}